<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home Buying Buddy</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/CustomStyle.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="icon5.png" type="image/png" sizes="16x16">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6VmhrwOjylk9nok7SNOhH3_JsBAZI6mM&libraries=places"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>


    <script src="locationpicker.jquery.js"></script>
</head>
<body style="color:#000000;margin-top:70px">
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" style="padding-top:10px; padding-bottom:10px">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand navbarMenu pull-left" href="viewMore.html" style="font-family: 'Roboto', sans-serif;color:#ffffff"><span class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="navbar-brand navbarMenu" href="index.html" style="font-family: 'Roboto', sans-serif; color:#ffffff">HomeBuyingBuddy&nbsp;<span class="glyphicon glyphicon-tag"></span></a>
            </div>

            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav" style="padding-top:19px">
                    <li>
                        <a href="index.html"><i class="fa fa-fw fa-home"></i> Home</a>
                    </li>
                    <li>
                        <a href="gatherInfo.html"><i class="fa fa-fw fa-info"></i> Gather Information</a>
                    </li>
                    <li class="active">
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-tasks"></i> Listings <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a href="CheckListings.html">Check Listings</a>
                            </li>
                            <li>
                                <a href="FavouriteListings.html">Favorite Listings</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="findLender1.html"><i class="fa fa-fw fa-money"></i> Find a Lender</a>
                    </li>
                    <li>
                        <a href="forum.html"><i class="fa fa-fw fa-question"></i> Questions</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>


        <div id="page-wrapper" style="padding:0">
            <div class="container-fluid" style="height: 100vh; background: linear-gradient(rgba(0,0,0,0.8),rgba(0,55,72,0.9),rgba(0,0,0,0.9)), url(pics/checklistingsbackground.jpg); font-family: 'Roboto', sans-serif;">
                <!-- Page Heading -->
                <div class="row">
                    <center>
                        <div id="card1" class="card" style="width:95%;background-color:rgba(255,255,255,0.95);height:83vh;margin-bottom:10px;overflow-y:scroll;overflow-x:hidden;margin-top:15px;border-radius:2px">
                            <div class="card-block">
                                <p style="font-weight: bold; font-size: 16px;margin-top: 5px">Select agents you want to contact:</p>
                                <table style="width:100%;">
                                    <tbody>
                                        <tr style="width:100%;border-bottom:1px solid #003748">
                                            <td style="width: 10%; height: 20vh; padding-left: 3%">
                                                <input type="checkbox" value="" style="width: 25px; height: 25px">
                                            </td>
                                            <td style="width:30%">
                                                <div>
                                                    <img src="pics/agent1.jpg" height="100" width="100" style="border-radius:5px" />
                                                </div>
                                            </td>
                                            <td style="width:40%">
                                                <div>
                                                    <p style="font-weight:bold">Thomas Winset</p>
                                                    <p><i class="fa fa-phone"></i>&nbsp;(111) 111-1111</p>
                                                    <i class="fa fa-star" style="color:gold"></i>
                                                    <i class="fa fa-star" style="color:gold"></i>
                                                    <i class="fa fa-star" style="color:gold"></i>
                                                    <i class="fa fa-star" style="color:gold"></i>
                                                    <i class="fa fa-star-half-full" style="color:gold"></i><br />
                                                    <a href="review.html" style="text-decoration:underline">2 reviews</a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr style="width:100%;border-bottom:1px solid #003748">
                                            <td style="width: 10%; height: 20vh; padding-left: 3%">
                                                <input type="checkbox" value="" style="width: 25px; height: 25px">
                                            </td>
                                            <td style="width:30%">
                                                <div>
                                                    <img src="pics/agent2.jpg" height="100" width="100" style="border-radius:5px" />
                                                </div>
                                            </td>
                                            <td style="width:40%">
                                                <div>
                                                    <p style="font-weight:bold">Jay Simson</p>
                                                    <p><i class="fa fa-phone"></i>&nbsp;(777) 777-7777</p>
                                                    <i class="fa fa-star" style="color:gold"></i>
                                                    <i class="fa fa-star" style="color:gold"></i>
                                                    <i class="fa fa-star" style="color:gold"></i>
                                                    <i class="fa fa-star-o" style="color:gold"></i>
                                                    <i class="fa fa-star-o" style="color:gold"></i><br />
                                                    <a href="review.html" style="text-decoration:underline">1 review</a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr style="width:100%;border-bottom:1px solid #003748">
                                            <td style="width: 10%; height: 20vh; padding-left: 3%">
                                                <input type="checkbox" value="" style="width: 25px; height: 25px">
                                            </td>
                                            <td style="width:30%">
                                                <div>
                                                    <img src="pics/agent3.jpg" height="100" width="100" style="border-radius:5px" />
                                                </div>
                                            </td>
                                            <td style="width:40%">
                                                <div>
                                                    <p style="font-weight:bold">Erin Green</p>
                                                    <p><i class="fa fa-phone"></i>&nbsp;(000) 000-0000</p>
                                                    <i class="fa fa-star" style="color:gold"></i>
                                                    <i class="fa fa-star" style="color:gold"></i>
                                                    <i class="fa fa-star-half" style="color:gold"></i>
                                                    <i class="fa fa-star-o" style="color:gold"></i>
                                                    <i class="fa fa-star-o" style="color:gold"></i><br />
                                                    <a href="review.html" style="text-decoration:underline">1 review</a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <form style="margin-top:20px;width:80%">
                                    <div class="form-group">
                                        <label for="usr">Your Name:</label>
                                        <input type="text" class="form-control" id="usr" autofocus>
                                    </div>
                                    <div class="form-group">
                                        <label for="pwd">Your Phone Number:</label>
                                        <input type="tel" class="form-control" id="pwd">
                                    </div>
                                    <div class="form-group">
                                        <label for="msg">Message You want to send:</label>
                                        <textarea class="form-control" rows="5" id="msg" placeholder="I am interested in 411 Beacon St, Boston, MA 02115. Please send me more details."></textarea>
                                    </div>
                                    <div class="modal-footer" style="text-align:center">
                                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModalAgent">Send Message</button>
                                    </div>
                                </form>
                                <div class="modal fade" id="myModalAgent" role="dialog">
                                    <div class="modal-dialog">
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Your message has been sent! <br /> Agent will contact you soon..</h4>
                                            </div>
                                            <div class="modal-body">
                                                <i class="fa fa-thumbs-up fa-5x" aria-hidden="true" style="color: #5cb85c"></i>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                             </div>
                        </div>
                    </center>
                </div>
            </div>


        </div>

        <!-- /.container-fluid -->
        <!-- /#page-wrapper -->

    </div>

    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="js/plugins/morris/raphael.min.js"></script>
    <script src="js/plugins/morris/morris.min.js"></script>
    <script src="js/plugins/morris/morris-data.js"></script>
</body>
</html>
