<!DOCTYPE html>
<script type="text/javascript">
    function hideShow(divid_h, divid_s) {
        document.getElementById(divid_h).style.display = "none";
        document.getElementById(divid_s).style.display = "block";
    }

    function removeList2() {
        document.getElementById('listing2').style.display = "none";
    }
    function removeList1() {
        console.log("removing 1");
        document.getElementById('listing1').style.display = "none";
    }
</script>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home Buying Buddy</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/CustomStyle.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="css/plugins/morris.css" rel="stylesheet">



    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="icon5.png" type="image/png" sizes="16x16">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6VmhrwOjylk9nok7SNOhH3_JsBAZI6mM&libraries=places"></script>

    <script src="locationpicker.jquery.js"></script>

</head>

<body style="background-color: #003748">

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" style="padding-top:10px; padding-bottom:10px">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand navbarMenu" href="index.html" style="font-family: 'Roboto', sans-serif; color:#ffffff">HomeBuyingBuddy&nbsp;<span class="glyphicon glyphicon-tag"></span></a>
        </div>


        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li class="active">
                    <a href="index.html"><i class="fa fa-fw fa-home"></i> Home</a>
                </li>
                <li>
                    <a href="gatherInfo.html"><i class="fa fa-fw fa-info"></i> Gather Information</a>
                </li>
                <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-tasks"></i> Listings <i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="demo" class="collapse">
                        <li>
                            <a href="#">Check Listings</a>
                        </li>
                        <li>
                            <a href="#">Favorite Listings</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href=""><i class="fa fa-fw fa-money"></i> Find a Lender</a>
                </li>
                <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#demo1"><i class="fa fa-fw fa-question"></i> Questions <i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="demo1" class="collapse">
                        <li>
                            <a href="#">Ask Questions</a>
                        </li>
                        <li>
                            <a href="#">My Questions</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <div id="page-wrapper">

        <div class="container-fluid" style="background-color: #fbfcfc; font-family: 'Roboto', sans-serif;">

            <!-- Page Heading -->
            <div class="row" style="background-color: #003748">
                <div class="col-lg-12">
                    <p class="page-header" style="text-align:center;font-family: 'Roboto', sans-serif; color: #d6d6d6; font-size: 20px; border-bottom: none; margin-top:-20px;">
                        Here are your Favourite listings<br/>
                    </p>

                </div>
                <center>

                    <!-- First Favourite Listing -->

                    <div class="card" role="dialog" id="listing1" style="width:95%;background-color:#dfdfdf;margin-bottom:10px;overflow-y:scroll;margin-top:20px">

                        <tr style="border-bottom:2px solid #003748;height:25vh;width:100%">
                            <td style="width:45%">
                                <div id="myCarousel" class="carousel slide" data-ride="carousel" style="width:70%; margin-top: 30px;">
                                    <!-- Indicators -->
                                    <ol class="carousel-indicators">
                                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                        <li data-target="#myCarousel" data-slide-to="1"></li>
                                        <li data-target="#myCarousel" data-slide-to="2"></li>
                                    </ol>

                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner" role="listbox">
                                        <div class="item active" style="height:20vh">
                                            <img src="pics/house11.jpg" style="height: 100%; width: 100%">
                                        </div>

                                        <div class="item" style="height:20vh">
                                            <img src="pics/house12.png" style="height: 100%; width: 100%">
                                        </div>

                                        <div class="item" style="height:20vh">
                                            <img src="pics/house13.jpg" style="height: 100%; width: 100%">
                                        </div>
                                    </div>

                                    <!-- Left and right controls -->
                                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                        <span  aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                        <span aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </td>
                            <td style="width: 55%; font-family: 'Roboto', sans-serif">
                                <p style="font-size: 14px; font-weight: bold;margin-bottom:5px">102 Freedom road, Brighton 02133</p>
                                <p style="font-size:14px;color:green;font-weight:bold;">$171,000</p>
                                <a href="viewMore.html" style="color:#333;text-decoration:underline;">View more details</a><br />
                            </td>
                        </tr>

                        <button type="button" class="btn btn-danger" data-dismiss="card" onclick="removeList1()" aria-label="Close" style="margin: 3px;">
                            Remove
                        </button>

                    </div>

                    <!-- End of First Favourite Listing -->

                    <!-- second Favourite Listing> -->

                    <div class="card" role="dialog" id="listing2" style="width:95%;background-color:#dfdfdf;margin-bottom:10px;overflow-y:scroll;margin-top:20px">
                            <tr style="border-bottom:2px solid #003748;height:25vh;width:100%">
                                <td style="width:45%">
                                    <div id="myCarousel2" class="carousel slide" data-ride="carousel" style="width:70%; margin-top: 30px;">
                                        <!-- Indicators -->
                                        <ol class="carousel-indicators">
                                            <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
                                            <li data-target="#myCarousel2" data-slide-to="1"></li>
                                            <li data-target="#myCarousel2" data-slide-to="2"></li>
                                        </ol>

                                        <!-- Wrapper for slides -->
                                        <div class="carousel-inner" role="listbox">
                                            <div class="item active" style="height:20vh">
                                                <img src="pics/house21.jpg" style="height: 100%; width: 100%">
                                            </div>

                                            <div class="item" style="height:20vh">
                                                <img src="pics/house22.jpg" style="height: 100%; width: 100%">
                                            </div>

                                            <div class="item" style="height:20vh">
                                                <img src="pics/house23.jpeg" style="height: 100%; width: 100%">
                                            </div>
                                        </div>

                                        <!-- Left and right controls -->
                                        <a class="left carousel-control" href="#myCarousel2" role="button" data-slide="prev">
                                            <span aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="right carousel-control" href="#myCarousel2" role="button" data-slide="next">
                                            <span aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </td>
                                <td style="width: 55%; font-family: 'Roboto', sans-serif">
                                    <p style="font-size: 14px; font-weight: bold;margin-bottom:5px">10 Carpel, Allston 02138</p>
                                    <p style="font-size:14px;color:green;font-weight:bold;">$190,000</p>
                                    <a href="viewMore.html" style="color:#333;text-decoration:underline;">View more details</a><br />
                                </td>
                            </tr>
                        <button type="button" class="btn btn-danger" data-dismiss="card" onclick="removeList2()" aria-label="Close" style="margin: 3px;">
                            Remove
                        </button>
                    </div>

                    <!-- End of Second Favourite Listing -->


                </center>
                <div>
                    <input class="btn pull-right" style="margin: 10px; margin-top: 0px" type="submit" id="submit_button" value="Back Home" onclick="location.href='index.html'">
                    <input class=" btn btn-link pull-left" style="margin: 10px; margin-top: 0px; color: #dfdfdf; text-decoration: underline" type="submit" id="submit_button" value="Back" onclick="location.href='CheckListings2.html'">
                </div>
            </div>
        </div>


    </div>

    <!-- /.container-fluid -->
    <!-- /#page-wrapper -->

</div>

<!-- /#wrapper -->
<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Morris Charts JavaScript -->
<script src="js/plugins/morris/raphael.min.js"></script>
<script src="js/plugins/morris/morris.min.js"></script>
<script src="js/plugins/morris/morris-data.js"></script>
</body>

</html>
