<!DOCTYPE html>
<script type="text/javascript">
    function doSomething(text) {
        if (text.length > 0)
            document.getElementById("submit_button").disabled = false;
        else
            document.getElementById("submit_button").disabled = true;
    }
</script>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home Buying Buddy</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/CustomStyle.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="css/plugins/morris.css" rel="stylesheet">



    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="icon5.png" type="image/png" sizes="16x16">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6VmhrwOjylk9nok7SNOhH3_JsBAZI6mM&libraries=places"></script>
   
    <script src="locationpicker.jquery.js"></script>



</head>

<body style="background: rgba(0,0,0,0.1);margin-top:70px; color: #000000">

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" style="padding-top:10px; padding-bottom:10px">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand navbarMenu pull-left" href="findLender1.html" style="font-family: 'Roboto', sans-serif;color:#ffffff"><span class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="navbar-brand navbarMenu" href="index.html" style="font-family: 'Roboto', sans-serif; color:#ffffff">HomeBuyingBuddy&nbsp;<span class="glyphicon glyphicon-tag"></span></a>
            </div>


            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav" style="padding-top: 19px;">
                    <li>
                        <a href="login.html"><i class="fa fa-fw fa-user"></i> Login/Register</a>
                    </li>
                    <li>
                        <a href="index.html"><i class="fa fa-fw fa-home"></i> Home</a>
                    </li>
                    <li>
                        <a href="gatherInfo.html"><i class="fa fa-fw fa-info"></i> Gather Information</a>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-tasks"></i> Listings <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a href="testCheckListings.html">Check Listings</a>
                            </li>
                            <li>
                                <a href="FavouriteListings.html">Favorite Listings</a>
                            </li>
                        </ul>
                    </li>
                    <li class="active">
                        <a href="findLender1.html"><i class="fa fa-fw fa-money"></i> Find a Lender</a>
                    </li>
                    <li>
                        <a href="forum.html"><i class="fa fa-fw fa-question"></i> Questions</a>
                    </li>

                    <li>
                        <a href="tutorials.html"><i class="fa fa-fw fa-info-circle"></i> Tutorials</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>


        <div id="page-wrapper" style="padding: 0px;">

            <div class="container-fluid" style="background: linear-gradient(rgba(0,0,0,0.8),rgba(0,55,72,0.9),rgba(0,0,0,0.9)), url(pics/findlenderbackground.jpg); height: 100vh;">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <p class="page-header" style="white-space:nowrap;text-align:center;font-family: 'Roboto', sans-serif; color: #d6d6d6; font-size: 20px; border-bottom: none; margin-top: 10px; margin-bottom:0;padding-bottom:0">
                            Few more questions!<br />
                        </p>
                    </div>
                    <center>
                        <div id="card1" class="card" style="width:95%;background-color:rgba(255,255,255,0.95);border-radius: 2px ;height:46vh;margin-bottom:10px;overflow-y:scroll;overflow-x:hidden;margin-top:20px">
                            <div class="card-block">
                                <form>
                                    <p class="card-title" style="padding-top:20%;font-weight: bold; font-size: 18px;">Have you served for US military? </p> 
                                    <p style="margin-bottom:20px">Did you know, if you have served for US military, you might be eligible for $0 downpayment? </p>   
                                    <div style="text-align:left;padding-left:10%">
                                        <div class="radio" style="font-size:medium;margin-top:20px">
                                            <input type="radio" name="optradio" style="height:25px;width:25px;margin-top:0">
                                            <span style="padding-left:20px;">Yes, I have served for US military</span>
                                        </div>
                                        <div class="radio" style="font-size:medium;margin-top:20px">
                                            <input type="radio" name="optradio" style="height: 25px; width: 25px;margin-top: 0">
                                            <span style="padding-left: 20px">No, I haven't served for US military</span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                      
                    </center>
                    <div style="text-align:center">
                        <input class="btn" style="width:95%;margin: 10px; margin-top: 0px" type="submit" id="submit_button" value="Next" onclick="location.href='findLender3.html'">    
                    </div>
                </div>
            </div>


        </div>

        <!-- /.container-fluid -->
        <!-- /#page-wrapper -->

    </div>
    
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="js/plugins/morris/raphael.min.js"></script>
    <script src="js/plugins/morris/morris.min.js"></script>
    <script src="js/plugins/morris/morris-data.js"></script>
</body>

</html>
