<!DOCTYPE html>
<script type="text/javascript">
    function showSuccLe() {
        document.getElementById('hhe').style.display = "none";
        document.getElementById('she').style.display = "block";
        document.getElementById('hft').style.display = "none";
        document.getElementById('hm').style.display = "none";
        document.getElementById('successLe').style.display = "block";
    }
</script>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home Buying Buddy</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/CustomStyle.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="css/plugins/morris.css" rel="stylesheet">



    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="icon5.png" type="image/png" sizes="16x16">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6VmhrwOjylk9nok7SNOhH3_JsBAZI6mM&libraries=places"></script>

    <script src="locationpicker.jquery.js"></script>



</head>

<body style="background-color: #003748">

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" style="padding-top:10px; padding-bottom:10px">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand navbarMenu pull-left" href="findLender4.html" style="font-family: 'Roboto', sans-serif;color:#ffffff"><span class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="navbar-brand navbarMenu" href="index.html" style="font-family: 'Roboto', sans-serif; color:#ffffff">HomeBuyingBuddy&nbsp;<span class="glyphicon glyphicon-tag"></span></a>
            </div>


            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="index.html"><i class="fa fa-fw fa-home"></i> Home</a>
                    </li>
                    <li>
                        <a href="gatherInfo.html"><i class="fa fa-fw fa-info"></i> Gather Information</a>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-tasks"></i> Listings <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a href="CheckListings.html">Check Listings</a>
                            </li>
                            <li>
                                <a href="FavouriteListings.html">Favorite Listings</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="findLender1.html"><i class="fa fa-fw fa-money"></i> Find a Lender</a>
                    </li>
                    <li>
                        <a href="forum.html"><i class="fa fa-fw fa-question"></i> Questions</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>


        <div id="page-wrapper">

            <div class="container-fluid" style="background-color: #fbfcfc; font-family: 'Roboto', sans-serif;">

                <!-- Page Heading -->
                <div class="row" style="background-color: #003748">
                    <div class="col-lg-12">
                        <p class="page-header" style="text-align:center;font-family: 'Roboto', sans-serif; color: #d6d6d6; font-size: 20px; border-bottom: none; margin-top:-20px; margin-bottom:0;padding-bottom:0">
                           We found all following lenders that will be suitable for you.. <br /> 
                        </p>

                    </div>
                    <center>
                        <div id="card1" class="card" style="width:95%;background-color:#dfdfdf;height:75vh;margin-bottom:10px;overflow-y:scroll;overflow-x:hidden;margin-top:20px">
                            <div class="card-block">
                                <p style="font-weight:bold;font-size:16px;margin-top:5px" id="h2">Select lenders you want to contact:</p>
                                <table id="t2" style="width:100%">
                                    <tbody>
                                        <tr style="width:100%;border-bottom:1px solid #003748">
                                            <td style="width: 10%; height: 20vh; padding-left: 3%">
                                                <input type="checkbox" value="" style="width:25px;height:25px">
                                            </td>
                                            <td style="width:30%">
                                                <div>
                                                    <img src="pics/lender1.jpg" height="100" width="100" style="border-radius:5px" />
                                                </div>
                                            </td>
                                            <td style="width:40%">
                                                <div>
                                                    <p style="font-weight:bold">Embrace Home Loans</p>
                                                    <p><i class="fa fa-phone"></i>&nbsp;(111) 111-1111</p>
                                                    <i class="fa fa-star" style="color:gold"></i>
                                                    <i class="fa fa-star" style="color:gold"></i>
                                                    <i class="fa fa-star" style="color:gold"></i>
                                                    <i class="fa fa-star" style="color:gold"></i>
                                                    <i class="fa fa-star-half-full" style="color:gold"></i><br />
                                                    <a href="review2.html" style="text-decoration:underline">2 reviews</a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr style="width:100%;border-bottom:1px solid #003748">
                                            <td style="width: 10%; height: 20vh; padding-left: 3%">
                                                <input type="checkbox" value="" style="width:25px;height:25px">
                                            </td>
                                            <td style="width:30%">
                                                <div>
                                                    <img src="pics/lender2.jpg" height="100" width="100" style="border-radius:5px" />
                                                </div>
                                            </td>
                                            <td style="width:40%">
                                                <div>
                                                    <p style="font-weight:bold">Mortgage Masters</p>
                                                    <p><i class="fa fa-phone"></i>&nbsp;(777) 777-7777</p>
                                                    <i class="fa fa-star" style="color:gold"></i>
                                                    <i class="fa fa-star" style="color:gold"></i>
                                                    <i class="fa fa-star" style="color:gold"></i>
                                                    <i class="fa fa-star-o" style="color:gold"></i>
                                                    <i class="fa fa-star-o" style="color:gold"></i><br />
                                                    <a href="review2.html" style="text-decoration:underline">1 review</a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr style="width:100%;border-bottom:1px solid #003748">
                                            <td style="width: 10%; height: 20vh; padding-left: 3%">
                                                <input type="checkbox" value="" style="width:25px;height:25px">
                                            </td>
                                            <td style="width:30%">
                                                <div>
                                                    <img src="pics/lender3.jpg" height="100" width="100" style="border-radius:5px" />
                                                </div>
                                            </td>
                                            <td style="width:40%">
                                                <div>
                                                    <p style="font-weight:bold">BNC National Bank</p>
                                                    <p><i class="fa fa-phone"></i>&nbsp;(000) 000-0000</p>
                                                    <i class="fa fa-star" style="color:gold"></i>
                                                    <i class="fa fa-star" style="color:gold"></i>
                                                    <i class="fa fa-star-half" style="color:gold"></i>
                                                    <i class="fa fa-star-o" style="color:gold"></i>
                                                    <i class="fa fa-star-o" style="color:gold"></i><br />
                                                    <a href="review2.html" style="text-decoration:underline">1 review</a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div style="margin-top:10px; margin-bottom:10px">
                                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModalLe" style="font-size: 16px">
                                        Send My Info
                                    </button>
                                </div>
                                    <div style="font-family: 'Roboto', sans-serif;color:#003748">
                                        <!-- Modal -->
                                        <div class="modal fade" id="myModalLe" role="dialog">
                                            <div class="modal-dialog">

                                                <!-- Modal content-->
                                                <div class="modal-content">
                                                    <div class="modal-header" id="hhe">
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        <h4 class="modal-title">We will send your details to the lender</h4>
                                                        <p class="modal-title">Lender will call you soon!</p>
                                                    </div>
                                                    <div class="modal-header" id="she" style="display:none">
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        <h4 class="modal-title">We have sent your details! <br /> You will receive the call soon..</h4>
                                                    </div>
                                                    <div class="modal-body" id="hm">
                                                        <div class="form-group">
                                                            <label for="usr">Your Name:</label>
                                                            <input type="text" class="form-control" id="usr">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="pwd">Your Phone Number:</label>
                                                            <input type="tel" class="form-control" id="pwd">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="msg">Comments:</label>
                                                            <textarea class="form-control" rows="5" id="msg" placeholder="You can add any other details here. For example, more contact details, preferred time to receive a call or any additional information."></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer" style="text-align:center" id="hft">
                                                        <button type="button" class="btn btn-success" onclick="showSuccLe()">Send</button>
                                                    </div>
                                                    <div id="successLe" style="display:none">
                                                        <i class="fa fa-thumbs-up fa-5x" aria-hidden="true" style="margin-top: 5%; margin-bottom: 5%; color: #5cb85c"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                        </div>

                    </center>
                </div>
            </div>


        </div>

        <!-- /.container-fluid -->
        <!-- /#page-wrapper -->

    </div>

    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="js/plugins/morris/raphael.min.js"></script>
    <script src="js/plugins/morris/morris.min.js"></script>
    <script src="js/plugins/morris/morris-data.js"></script>
</body>

</html>
